*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

/* LIGHT MODE */
.light{
  background: #f5f5f5;
  color: black;
}

/* DARK MODE */
.dark{
  background: #121212;
  color: white;
}

.container{
  text-align: center;
}

h1{
  margin-bottom: 20px;
}

button{
  padding: 12px 25px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

#lightBtn{
  background: orange;
  color: white;
}

#darkBtn{
  background: black;
  color: white;
}